@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(/fonts/SourceSansPro-Regular.woff2) format("woff2"); }
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100px; }

body {
  font-size: 0.14rem;
  line-height: 0.21rem;
  color: #e6e6e6;
  background: #292a2b; }

blur {
  color: #bbb; }

color1 {
  color: #f1cc7a; }

color2 {
  color: #ffaa49; }

color3 {
  color: #3396f1; }

color4 {
  color: #ff8c96; }

color5 {
  color: #b084eb; }

color6 {
  color: #ff2b3f; }

color7 {
  color: #19f9d8; }
