$BACKGROUND: #292a2b;
$TEXT: #e6e6e6;
$PARENTHESES: #bbb;
$COLON: #19f9d8;
$SYNTAX1: #f1cc7a;
$SYNTAX2: #ffaa49;
$SYNTAX3: #3396f1;
$SYNTAX4: #ff8c96;
$SYNTAX5: #b084eb;
$SYNTAX6: #ff2b3f;

$TABBACKGROUND: #252526;

.side {
    position: fixed;
    top: 0;
    left: 0;
    width: 2rem;
    height: 100%;
    padding-top: 0.34rem;
    background: #222223;
    p {
        height: 0.22rem;
        line-height: 0.22rem;
        margin-bottom: 0.1rem;
        padding-left: 0.2rem;
        color: $PARENTHESES;
        background: #373838;
    }

    a {
        display: block;
        margin-left: 0.4rem;
        text-decoration: underline;
    }

    [href="javascript:void(0)"] {
        color: $COLON;
        backface-visibility: $BACKGROUND;
    }
}

.tab {
    height: 0.34rem;
    line-height: 0.34rem;
    padding-left: 2rem;
    background: $TABBACKGROUND;

    a {
        display: inline-block;
        min-width: 1.2rem;
        padding: 0 0.2rem;
        text-align: center;
    }

    [href="javascript:void(0)"] {
        color: $COLON;
        background: $BACKGROUND;
        border-bottom: 1px solid $COLON;
    }
}

main {
    padding: 0.6rem;
    padding-left: 2.6rem;
    img {
        display: block;
        max-width: 100%;
    }
}