.side {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  padding-top: 0.34rem;
  background: #222223; }
  .side p {
    height: 0.22rem;
    line-height: 0.22rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
    color: #bbb;
    background: #373838; }
  .side a {
    margin-left: 0.4rem; }
  .side [href="javascript:void(0)"] {
    color: #19f9d8;
    backface-visibility: #292a2b; }

.tab {
  padding-left: 2rem;
  background: #252526; }
  .tab a {
    display: inline-block;
    min-width: 1.2rem;
    height: 0.34rem;
    line-height: 0.34rem;
    padding: 0 0.2rem;
    text-align: center;
    background: #252526; }
  .tab [href="javascript:void(0)"] {
    color: #19f9d8;
    background: #292a2b;
    border-bottom: 1px solid #19f9d8; }

main {
  padding: 0.6rem;
  padding-left: 2.6rem; }
  main img {
    display: block;
    max-width: 100%; }

@media screen and (max-width: 860px) {
  .side {
    width: 0.8rem; }
    .side a {
      margin-left: 0.2rem; }

  .tab {
    padding-left: 0.8rem; }

  main {
    padding: 0.2rem;
    padding-left: 1rem; } }
