.tab {
  height: 0.34rem;
  line-height: 0.34rem;
  background: #252526; }
  .tab a {
    display: inline-block;
    min-width: 1.2rem;
    padding: 0 0.2rem;
    text-align: center; }
  .tab [href="javascript:void(0)"] {
    color: #19f9d8;
    background: #292a2b;
    border-bottom: 1px solid #19f9d8; }

main {
  padding: 0.6rem; }
  main img {
    display: block; }
