a, button {
  cursor: pointer; }

side {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  padding-top: 0.34rem;
  background: #eee8d5;
  overflow: auto; }
  side p {
    position: relative;
    max-height: 0.22rem;
    line-height: 0.22rem;
    margin-bottom: 0.2rem;
    padding-left: 0.2rem; }
    side p:after {
      content: "";
      position: absolute;
      right: 0.1rem;
      bottom: 0.05rem;
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 0.04rem solid transparent;
      border-right: 0.04rem solid #e6e6e6;
      border-left: 0.04rem solid transparent;
      border-bottom: 0.04rem solid #e6e6e6; }
    side p.on {
      background: #d1cbb8; }
  side a.on {
    color: #2aa198; }

main {
  position: relative;
  padding: 0.6rem;
  padding-left: 2.6rem; }
  main img {
    display: block;
    max-width: 100%; }
  main h1 {
    color: #26a5d9;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem; }
  main .mainImg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 1.3rem;
    display: block;
    max-width: 80%; }
  main tab {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2.6rem;
    height: 0.35rem;
    line-height: 0.35rem;
    overflow: auto; }
    main tab a {
      display: inline-block;
      padding: 0 0.3rem;
      border-left: #fdf6e3; }

.button {
  display: inline-block;
  padding: 0.2rem;
  font-weight: bold;
  color: #222223;
  border: 1px solid #bbb;
  border-radius: 0.1rem;
  background: #e6e6e6; }

.link {
  color: #2aa198;
  text-decoration: underline; }

terminal {
  display: block;
  margin: 0.2rem 0;
  padding-top: 0;
  padding: 0.2rem;
  background: #d3cbb7;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-all; }

key {
  display: inline-block;
  padding: 0.01rem 0.05rem;
  background: #333;
  color: #fdf6e3; }

welcome {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  color: #d33682;
  background: #fdf6e3;
  animation-name: welcome;
  animation-duration: 1s;
  animation-iteration-count: 3; }
  welcome a {
    display: inline-block;
    margin: 1rem 0.6rem; }
    welcome a img {
      display: block;
      width: 1.5rem;
      height: 1.5rem; }
  welcome.done {
    color: #26a5d9;
    animation-name: done;
    animation-duration: 2s;
    animation-iteration-count: 1; }

@keyframes welcome {
  0% {
    color: #d33682; }
  50% {
    color: #d5aed0; }
  100% {
    color: #d33682; } }
@keyframes done {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media screen and (max-width: 860px) {
  side {
    width: 1rem; }
    side a {
      margin-left: 0.1rem; }

  main {
    padding: 0.2rem;
    padding-left: 1.2rem; }
    main h1 {
      font-size: 0.3rem; }
    main .mainImg {
      margin-left: 0.6rem;
      max-width: 60%; }

  welcome {
    font-size: 0.3rem; } }
